<div class="spacer"></div>
<section class="row about-banner banner">

</section>
<section class="row about-us-intro">
    <div class="col-lg-6">
      <h1>Naxfor Homes</h1>
      <p class="p-spacer"><%= t 'about.intro'%></p>
      <div class="about-bullets-section">
        <div class="about-bullets">
          <ol>
            <li><%= t 'about.bullets.one' %></li>
            <li><%= t 'about.bullets.two' %></li>
            <li><%= t 'about.bullets.three' %></li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="where-images malaga-pomp map-styles" ></div>
    </div>


</section>

<section class="row quality-assurance-intro">
    <div class="col-lg-6 align-self-center">
      <h1><%= t 'about.quality.title' %></h1>
      <p><%= t 'about.quality.text' %></p>
    </div>
    <div class="col-lg-6 downloads align-self-center">
      <div class="row">
        <div class="col-6 rights">
          <%= link_to downloads_isoone_path do %>
            <%= image_tag ("safety/ISO9001.png") %>
          <% end %>
        </div>
        <div class="col-6 lefts">
          <%= link_to downloads_isotwo_path do %>
            <%= image_tag ("safety/ISO14001.png") %>
          <% end %>
        </div>
        <div class="col-6 rights">
          <%= link_to downloads_isothree_path do %>
            <%= image_tag ("safety/ISO45001.jpg") %>
          <% end %>
       </div>
        <div class="col-6 lefts align-self-center">
          <%= link_to downloads_quality_path do %>
            <%= image_tag ("safety/#{t 'about.qa_policy'}") %>
          <% end %>
        </div>
      </div>
    </div>
</section>

<section class="row about-us-intro">
    <div class="col-lg-6 align-self-center">
      <h1><%= t 'about.social.title' %></h1>
      <p class="p-spacer"><%= t 'about.social.text' %></p>
    </div>

    <div class="col-lg-6 align-self-center">
      <div class="social-img-div">
        <%= image_tag ("safety/sustainable.png") %>
      </div>
    </div>
</section>
