<div class="spacer"></div>
<section class="row about-banner banner">

</section>
<section class="row about-us-intro">
    <div class="col-lg-6">
      <h1>Naxfor Homes</h1>
      <p class="p-spacer">NAXFOR‘s mission is to generate value within economic,
         social and environmentally sustainable parameters,
          meeting the specific needs of our customers, the company’s
           employees and all stakeholders with an interest in the company’s
            success."To fulfil its mission, NAXFOR accommodates and manages
             environments to improve people’s quality of life.
      </p>
    </div>

    <div class="col-lg-6 align-self-center about-bullets-section">
      <div class="about-bullets">
        <ol>
          <li>Experts in Engineering, Construction and Reforms</li>
          <li>Over 20 years of experience in the sector</li>
          <li>Technically Qualified and Socially Responsible Staff</li>
        </ol>
      </div>
    </div>
</section>

<section class="row quality-assurance-intro">
    <div class="col-lg-6 align-self-center">
      <h1> Quality Assured</h1>
      <p>NAXFOR‘s mission is to generate value within economic,
         social and environmentally sustainable parameters,
          meeting the specific needs of our customers, the company’s
           employees and all stakeholders with an interest in the company’s
            success."To fulfil its mission, NAXFOR accommodates and manages
             environments to improve people’s quality of life.
      </p>
    </div>
    <div class="col-lg-6 downloads align-self-center">
      <div class="row">
        <div class="col-6 rights">
          <%= link_to downloads_isoone_path do %>
            <%= image_tag ("safety/ISO9001.png") %>
          <% end %>
        </div>
        <div class="col-6 lefts">
          <%= link_to downloads_isotwo_path do %>
            <%= image_tag ("safety/ISO14001.png") %>
          <% end %>
        </div>
        <div class="col-6 rights">
          <%= link_to downloads_isothree_path do %>
            <%= image_tag ("safety/ISO45001.jpg") %>
          <% end %>
       </div>
        <div class="col-6 lefts align-self-center">
          <%= link_to downloads_quality_path do %>
            <div id="q-a-policy"><p>Quality Assurance</br> Policy</p></div>
          <% end %>
        </div>
      </div>
    </div>
</section>

<section class="row about-us-intro">
    <div class="col-lg-6 align-self-center">
      <h1>Socially Responsible</h1>
      <p class="p-spacer">The NAXFOR management team seeks to establish a balance between business
         efficiency and the social principles of democracy, self-reliance, community
          support and a fair economic distribution. To achieve this, NAXFOR is working
           to improve its employees’ expertise, to minimise its environmental impact,
           to boost its cooperation with the wellbeing and development of the community
            and to ensure its sales process is socially responsible.
      </p>
    </div>

    <div class="col-lg-6 align-self-center">
      <div class="social-img-div">
        <%= image_tag ("safety/sustainable.png") %>
      </div>
    </div>
</section>
