<section class="row footer">
    <div class="data logo col-lg-2">
      <%= image_tag "naxfor_logo" %>
    </div>
    <div class="data address col-lg-3">
      <p>C/ Cuevas Bajas 2</p>
      <p>Edificio Picasso</p>
      <p>Planta 1 Of. 14</p>
      <p>29004</p>
      <p>Málaga</p>
      <p>Tel + 34 951 917 824</p>
      <p>Fax 952 004 626</p>
    </div>

    <div class="links data col-lg-3">
      <p><%= link_to ((t 'nav.about_us')), about_path %></p>
      <p><%= link_to (t 'nav.projects'), projects_path %></p>
      <p><%= link_to (t 'nav.location'), where_path %></p>
      <p><%= link_to (t 'nav.legal'), legal_path %></p>
      <p><b><%= link_to (t 'nav.contact'), contact_path %></b></p>
    </div>

    <div class="safety data col-lg-4">
        <%= image_tag ("safety/ISO9001.png") %>
        <%= image_tag ("safety/ISO14001.png") %>
        <%= image_tag ("safety/ISO45001.jpg") %>
    </div>
</section>
<section class="row">
  <div class="col fade-links">
    <p>Copyright 2019 Naxfor Homes</p><span>|</span>
    <p><%= t 'home.legal_notice' %></p><span>|</span>
    <p><%= t 'home.privacy' %></p>
  </div>
</section>
