<section class="row footer">
    <div class="logo">
      <p class="foot-tagline" id="tag-one"><%= t 'footer.tagline.one' %></p>
      <p class="foot-tagline" id="tag-two"><%= t 'footer.tagline.two' %></p>
      <%= image_tag "naxfor_logo.jpg", "class" => "mx-auto d-block" %>
      <div class="address">
        <p>NAXFOR INGENIERIA S.L.</p>
        <p>Cuevas Bajas 2, Edificio Picasso, 29004, Málaga</p>
      </div>
    </div>
</section>

<section class="row foot-nav">
  <div class="fade-links">
    <p><a href="http://www.naxfor.com" id="blacken">www.naxfor.com</a></p><span>|</span>
    <p>info@naxfor.com</p>
  </div>
  <div class="low-nav-links">
    <p><%= link_to ((t 'nav.about_us')), about_path, id: "blacken" %></p>
    <p><%= link_to (t 'nav.projects'), projects_path, id: "blacken" %></p>
    <p><%= link_to (t 'nav.location'), where_path, id: "blacken" %></p>
    <p><%= link_to (t 'nav.legal'), legal_path, id: "blacken" %></p>
    <p><b><%= link_to (t 'nav.contact'), contact_path, id: "blacken" %></b></p>
  </div>
</section>

<section class="row">
  <div class="footer-minor">
    <p>Copyright <%= Date.today.year %> Naxfor Homes</p><span>|</span>
    <p><%= link_to t('home.legal_notice'), legal_advisory_path, id: "blacken" %></p><span>|</span>
    <p><%= link_to t('home.privacy'), privacy_path, id: "blacken" %></p>
    <% if admin_signed_in? %>
      <span>|</span><p><%= link_to "#{t 'sign_out'}", destroy_admin_session_path, method: :delete %></p><span>|</span><%= link_to ((t 'nav.new_project')), new_project_path, id: "blacken" %>
    <% else %>
      <span>|</span><p><%= link_to "#{t 'sign_in'}", new_admin_session_path, id: "blacken" %></p>
    <% end %>
  </div>
</section>
