<div class="spacer"></div>
<%= form_with model: @project, local: true do |f| %>
  <div class="row justify-content-cent">
    <div class="col devise-form-spacer">

      <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@project.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name, class:"form-control", required: true  %>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class:"form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class:"form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :type %>
        <%= f.select :ptype, [[t('projects.reform'), t('projects.reform')], [t('projects.construction'), t('projects.construction') ]], {}, {class: "form-control"} %>
      </div>
      <div class="form-group form-check">
        <%= f.check_box :featured %>
        <%= f.label :featured %>
      </div>
      <div class="form-group form-check">
        <%= f.check_box :published %>
        <%= f.label :published %>
      </div>
      <div class="form-group">
        <%= f.label :add_carousel_images %>
        <%= f.file_field :images, multiple: true, class:"form-control-file" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col project-form-spacer">
      <% if f.object.images.attached? %>
        <h2>Current Carousel Images</h2>
        <p>To remove an image from the carousel, check the delete box before you submit the form</p>
        <div class="carousel-images-display row">
          <% f.object.images.each do |image| %>
            <div class="col-md-4 carousel-images-display-container">
              <div class="carousel-image-preview" style="background-image: url(<%= rails_blob_url(image) %>)"></div>
              <div class="form-group form-check">
                <%= check_box_tag("[image_ids][#{image.id}]", 1, false, { class:"form-check-input"}) %>
                <%= label_tag("[image_ids][#{image.id}]", "Delete", class:"form-check-label") %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col project-form-spacer">
      <h2> Features</h2>
      <p>Here you can add new features or edit existing ones</p>
      <div class="feature-previews"></div>
        <%= f.fields_for :features do |feature| %>
        <div class="row feature-previews f-p-style">
          <div class="feature-preview-container col-lg-4">
            <% if feature.object.image.attached? %>
                <div class="feature-image-preview" style="background-image: url(<%= rails_blob_url(feature.object.image) %>)"></div>
            <% else %>
              <div class="form-group">
                <%= feature.label :image %>
                <%= feature.file_field :image, class:"form-control-file" %>
              </div>
            <% end %>
            </div>
            <div class="col-lg-8 align-self-center">
              <div class="form-group">
                <%= feature.label :description %>
                <%= feature.text_area :description, class: "form-control", required: true %>
              </div>
              <div class="form-group form-check">
                <%= feature.check_box :_destroy, :class => "form-check-input" %>
                <%= feature.label :delete, class: "form-check-label" %>
              </div>
            </div>
          </div>
        <% end  %>
        <div id="features" class="col"></div>
        <button id="new-feature" class="" type="button">Add feature</button>

      </div>
    </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <%= f.submit id:"nax-btn" %>
    </div>
  </div>
<% end  %>
