<%= form_with model: @project do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name  %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :type %>
  <%= f.select :ptype , [[t('reform'), t('reform')], [t('construction'), t('construction') ]] %>


  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>

  <% if f.object.images %>
  <% f.object.images.each do |image| %>
    <%= image_tag image %>
    <%= check_box_tag("[image_ids][#{image.id}]") %>
    <%= label_tag("[image_ids][#{image.id}]", "Delete") %>

  <% end %>
  <% else %>
    <%= feature.label :image %>
    <%= feature.file_field :image %>
  <% end %>
    <div id="features">
      <button id="new-feature" type="button">Add feature</button>

        <%= f.fields_for :features do |feature| %>
          <div class="feature-fields">

            <% if feature.object.image %>
              <%= image_tag feature.object.image %>
            <% else %>
              <%= feature.label :image %>
              <%= feature.file_field :image %>
            <% end %>


            <%= feature.label :description %>
            <%= feature.text_field :description %>
            <%= feature.label :delete %>
            <%= feature.check_box :_destroy %>

          </div>
        <% end  %>
      </div>

    </div>



  <%= f.submit %>
<% end  %>
