<%= form_with model: @project do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name  %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :type %>
  <%= f.select :ptype , [[t('reform'), t('reform')], [t('construction'), t('construction') ]] %>


  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>

    <button id="new-feature" type="button">Newfeature</button>
    <div id="features"></div>



  <%= f.submit %>
<% end  %>
