<div class="spacer"></div>
<div class="widther">
  <div class="project-heading">
    <h1> Recent Projects </h1>
    </div>
<% @projects.each do |project| %>
  <section class="row image-over-section">

      <div class="home-about-img-div col-lg-8">
        <%= link_to project_path(project) do %>
          <div id="hm-abt-img" style="background-image: url(<%= rails_representation_url(project.resized_images(project.images.first)) if project.images.attached? %>)"></div>
        <% end %>
      </div>

      <div class="home-about-txt-div col-lg-4 project-index-text">
        <%= link_to project_path(project) do %>
          <h1 id="blacken"><%= project.name %></h1>
          <p class="project-text" id="blacken"><%= project.description %><%= image_tag "right.png", class:"right-arrow" %></p>
        <% end %>
        <% if admin_signed_in? %>
          <p class="edit-link"><%= link_to "Edit", edit_project_path(project), id:"blacken" %></p>
          <p class="edit-link"><%= link_to 'Destroy', project_path(project), data: {:confirm => 'Are you sure?'}, :method => :delete, id:"blacken" %></p>
        <% end %>
        <h3 class="fade-header"><%= project.location %></h3>
      </div>
  </section>
<% end %>
</div>
