<div class="spacer"></div>
<% @projects.each do |project| %>
  <section class="row image-over-section">

      <div class="home-about-img-div col-lg-8">
        <%= link_to project_path(project) do %>
          <div id="hm-abt-img" style="background-image: url(<%= rails_blob_url(project.images.first) if project.images.attached? %>)"></div>
        <% end %>
      </div>

      <div class="home-about-txt-div col-lg-4 project-index-text">
        <%= link_to project_path(project) do %>
          <h1><%= project.name %></h1>
          <p class="project-text"><%= project.description %><%= image_tag "right.png", class:"right-arrow" %></p>
        <% end %>
        <% if admin_signed_in? %>
          <p class= "edit-link"><%= link_to "Edit", edit_project_path(project) %></p>
          <p class= "edit-link"><%= link_to 'Destroy', project_path(project), data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <% end %></p>
        <h3 class="fade-header"><%= project.location %></h3>
      </div>
  </section>
<% end %>
