<!DOCTYPE html>
<html>
  <head>
    <title>Naxforhomes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h1><%= t 'hello' %></h1>

    <li><%= link_to 'English', root_path(locale: :en) %></li>
    <li><%= link_to 'Spanish', root_path(locale: :es) %></li>
    <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
    <li><%= link_to 'Sign in', new_admin_session_path %></li>

  </body>
</html>
