<!DOCTYPE html>
<html>
  <head>
    <title>Naxfor Homes</title>
    <%= favicon_link_tag asset_path('naxfor_logo.ico')%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_KEY']}" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body id="body">
    <% if alert %>
    <div class="alert alert-dismissible fade show" role="alert">
      <p><%= alert %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% elsif notice %>
    <div class="alert alert-dismissible fade show" role="alert">
      <p><%= notice %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <div class="container-fluid">
      <%= render "shared/nav" %>
        <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
